resource_group_name  = "rg-bte-dbx-prod-tfstate-cnc-001"
storage_account_name = "stbtedbxprodtfcnc001"
container_name       = "tfstate"
key                  = "prod/platform.tfstate"
use_azuread_auth     = true
